{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    {{ include('elements/header.html.twig') }}

    <div class="container">
        <div class="content">
            <h1>{{ post.title }}</h1>
            <table class="table">
                <tbody>
                <tr>
                    <th>Дата создания</th>
                    <td>{{ post.createAt ? post.createAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Аннотация</th>
                    <td>{{ post.annotation }}</td>
                </tr>
                <tr>
                    <th>Описание</th>
                    <td>{{ post.text }}</td>
                </tr>
                <tr>
                    <th>Количество просмотров</th>
                    <td>{{ post.views }}</td>
                </tr>
                <tr>
                    <th>Количество комментариев</th>
                    <td>{{ post.countComments }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="comments">
            {% for comment in comments %}
                <div class="media bg_border p-2 mb-2">
                    <div class="media-body">
                        <h5 class="mt-0">{{ comment.user.name }}</h5>
                        <p>{{ comment.createAt ? comment.createAt|date('Y-m-d H:i:s') : ''  }}</p>
                        <p class="overflow-auto background_color">{{ comment.text }}</p>
                    </div>
                </div>
            {% endfor %}
            {{ form_start(commentForm) }}
                <div class="form-group">
                    {{ form_label(commentForm.text, commentForm.text, { 'label_attr': {'class': 'default_font'} }) }}
                    {{ form_widget(commentForm.text, { 'attr': {'class': 'form-control', 'rows': 3} }) }}
                </div>
                <div class="row justify-content-center mt-4">
                    <button id="submitProduct" class="btn btn-lg btn-dark col-6 btn_style mb-2" type="submit">
                        Отправить
                    </button>
                </div>
            {{ form_end(commentForm) }}
        </div>
    </div>

{% endblock %}
